# A string used to distinguish different Supabase projects on the same host
project_id = "axerios"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["axer://callback"]

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true
